h1 {
  text-align: center;
  color: gold;
  font-style: italic;
  font-style: bold;
  text-shadow: 1px 2px 4px red;
}
body{
  background-color: #BBB193;
}
img{
  width: 200px;
}
body:hover{
background-color: ##F6F0ED;
}
img:hover{
  width: 100px;
  border: solid 3px;
  border-radius: 40%;
  height: 20vh;
  color: black;
}
