html{
  scroll-behavior: smooth;
}
body{
  background-color: #d8e5ed;
}
#header{
  text-align: center;
  padding-top: 50px;
}
h1{
  color: #69a7d1;
  font-family: 'Source Code Pro'; src:url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-size: 400%;
  font-weight: 600px;
  font-style: italic;
}
h2{
  color: #69a7d1;
  font-family: 'Source Code Pro'; src:url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-size: 150%;
  font-weight: 500px;
  font-style: italic;
}
#booknowhl{
  background-color: #4c9acf;
}
#booknowhl:hover{
  background-color: #448cbd;
}
#navhl:hover{
  background-color: #86a2b5;
}
nav{
  list-style-type: none;
  background-color: #98b7cc;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 100;
}
.navli{
  display: inline;
  float: right;
  padding: 40px 0px;
  margin: auto;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Source Code Pro'; src:url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 41px;
}
.teamheader{
  background-color: #98b7cc;
  padding: 10px;
  margin: auto;
}
.subheader{
  color: white;
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.notsmallheader{
  color: #69a7d1;
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 600;
  font-size: 47px;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.smallheader{
  color: #69a7d1;
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.smallheaderN{
  color: #69a7d1;
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
#simage{
  max-width: 40%;
}
#smallimage{
  max-width: 20%;
  border: 5px solid #4c9acf;
}
button{
  background-color: #69a7d1;
  color: white;
  padding: 1%;
  cursor: pointer;
}
button:hover{
background-color: #448cbd;
}












.footer{
  display: inline;
  text-align: center;
  height: 60px;
  bottom: 0;
  right: 0;
  left: 0;
}
.footertext{
  list-style-type: none;
  text-decoration: none;
  color: #69a7d1;
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
 display: inline; src:url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  text-align: center;
}
* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #387ba8;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #60a3d1;
}

/* Caption text */
.text {
  color: white;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
  background-color: #4c9acf;
  font-style: italic;
  font-family: 'Source Code Pro'; src:url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
   from {
    margin-left: 40%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
